.mainNavigation{
    width: 100%;
    height: 4.5rem;
    background-color: #ede9fe;
}

.mainNavigation nav{
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.mainNavigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartLink{
    position: relative;
}
.mainNavigation li{
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.mainNavigation a{
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.mainNavigation a:hover,.activeLink{
    color: #6d28d9;
    background-color: #fff;
}

.mainNavigation span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: -9px;
    top:-9px;
    background-color: #6d28d9;
    color: #fff;
    font-size: 14px;
}
